html {
	background-color: rgb(22, 3, 23);
	color: #ADB4B3;
}
body {
	font-family: 'helvetica neue', Helvetica, Arial, sans-serif;
	  font-size: calc(6px + 1.8vmin);
}

header {
	display: grid;
	grid-template-columns: minmax(64px, 100px) minmax(200px, 1fr) minmax(101px, 340px);
	background-color: rgba(173,180,179,0.3);
	border-radius: 8px ;
	align-items: center
}

#avatar {
	grid-column-start: 1;
	align-self: center;
	margin: 10px;
}
#avatar>img {
	width: 100%;
	border-radius: 30%;
}
 header>h1 {
 	grid-column-start: 2;
 	margin: 5px;

 }

nav  {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(110px, auto));
	padding: 10px 0;
}
nav div {
	grid-area: auto;
	background-color: rgba(173,179,178,0.3);
	height: 80%;
	width: 90%;
	text-align: center;
	border-radius: 12px;
}

h5 {
	padding: 1vh 6px;
	white-space: nowrap;
	color: white;
	margin: 5px 0;
}

a {
	text-decoration: none;
}
